.col{
    border-style: solid;
    text-align: center;
    }
img {width: 25%;
}

body {
    background: url("../imagenes/d ark.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {color: blueviolet;
    text-align: center;
    font-size: 52px;
    margin-top: 70px;
}
a:hover{
    background-image: url("../imagenes/bg_nav_hover.gif");

}

nav {
    background: url("../imagenes/bg_nav.gif");
    size: 100px;
}

header{
    position: fixed;
    width: 100%;
    margin-top: 0;
}

nav a {color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 20px;
    margin-left: 20px;
    font-style: inherit;
}

.baner {
    width: 100%;;
    height:20px; 
    }

aside {
    float: right;
    width: 25%;
    height: 500px;;
    background-color: coral;
}

p {
    width: 74%;
}

h6 {
position:fixed;
bottom: 0;
background-color: darkgrey;
color: white;
text-align: center;
width: 100%;
font-style: italic;
padding:0 ;
margin-bottom: 0;
}