<table>
    <tbody>
        <tr>
            <td class="logo"><img src="https://i.ibb.co/gZdYs1z/logo-arg.png" alt=""></td>
            <td class="titulo">"Argentina Programa" #YoProgramo</td>
            <td class="face"><a href="https://www.facebook.com/dagjjj"><i class="fa-brands fa-facebook fa-beat fa-2xl"
                        style="color: #fff;"></i></a></td>
        </tr>
    </tbody>
</table>

<div class="conteiner">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto ">
            <h2>Modificar Experiencia Laboral</h2>
            <form (ngSubmit)="onEditar()" novalidate #f="ngForm" class="p-3 bg-warning-subtle border-warning">
                <div class="form-group ">
                    <label for="empresa">Empresa</label>
                    <input type="text" class="form-control" name="empresa" id="empresa"
                        [(ngModel)]="experiencia.empresa" required>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <input type="text" class="form-control" name="cargo" id="cargo" [(ngModel)]="experiencia.cargo"
                        required>
                </div>
                <div class="form-group">
                    <label for="periodo">Periodo</label>
                    <input type="text" class="form-control" name="periodo" id="periodo"
                        [(ngModel)]="experiencia.periodo" required>
                </div>
                <div class="form-group">
                    <label for="descricion">Descripcion</label>
                    
                    <textarea style="resize: none;" type="text" class="form-control" name="descricion" id="descricion"[(ngModel)]="experiencia.descricion" required rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="logo">URL del Logo</label>
                    <textarea style="resize: none;" rows="2" type="text" class="form-control" name="logo" id="logo" [(ngModel)]="experiencia.logo"
                        required> </textarea>   
                </div>
                <br>
                <div>
                    <tr>
                        <td>
                            <button class="btn btn-warning btn-block" [disabled]="!f.valid"> <i
                                    class="fa-solid fa-floppy-disk" style="color: #000000;"></i> Guardar</button>
                        </td>
                        <td>
                            <button class="btn  btn-warning btn-block" routerLink=""><i
                                    class="fa-solid fa-backward-fast" style="color: #000000;"></i> Volver</button>
                        </td>
                    </tr>
                </div>
            </form>
        </div>
    </div>
</div>