<div class="conteiner">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h2>Cargar Experiencia Laboral</h2>
            <form (ngSubmit)="onCrear()" novalidate #f="ngForm" class="p-3 bg-warning-subtle border-warning">
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <input type="text" class="form-control" name="empresa" id="empresa" [(ngModel)]="empresa" required>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <input type="text" class="form-control" name="cargo" id="cargo" [(ngModel)]="cargo" required>
                </div>
                <div class="form-group">
                    <label for="periodo">Periodo</label>
                    <input type="text" class="form-control" name="periodo" id="periodo" [(ngModel)]="periodo" required>
                </div>
                <div class="form-group">
                    <label for="descricion">Descripcion</label>
                    <input type="text" class="form-control" name="descricion" id="descricion" [(ngModel)]="descricion"
                        required>
                </div>
                <div class="form-group">
                    <label for="logo">URL del Logo</label>
                    <input type="text" class="form-control" name="logo" id="logo" [(ngModel)]="logo" required>
                </div>
                <br>
                <button class="btn btn-warning btn-block" [disabled]="!f.valid">Guardar</button>
            </form>
        </div>
    </div>
</div>