
.banner {
    background-size: cover;
    background-image: url(/assets/banner.jpg);
    border: solid rgb(156, 115, 12) 1px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(218, 165, 32);
}
.perfil> img{
    border-radius: 50%;
    width: 15%;
}

h1{
    font-size:150%;
    margin-left: 15px;
color: rgb(255, 255, 255)
}
p{
    color:blanchedalmond;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 200%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h2{
    color: yellowgreen;
    margin-left: 15px
}