<table>
  <tbody>
    <tr>
      <td class="logo"><img src="https://i.ibb.co/gZdYs1z/logo-arg.png" alt=""></td>
      <td class="titulo">"Argentina Programa" #YoProgramo</td>
      <td class="face"></td>
      <td class="login">
       

      </td>
    </tr>
  </tbody>
</table>
<div class="conteiner">
    <div class="row mt-5 rounded-4">
        <div class="col-md-3 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    Estas Cerrando Sesion
                </div>
                <div class="card-body">
                    <h5 class="card-title">Buen viaje</h5>
                    <p class="card-text">Espero que hayas disfrutado tu visita</p>
                </div>
                <div class="card-footer text-body-secondary">
                    <button class="btn btn-outline-info w-100 mt-2" routerLink="">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>