<section>
    <section class="banner">
        <div *ngFor="let acer of acercade">
            <div class="perfil"><img src="https://i.ibb.co/0XZsfCc/perfil.jpg" alt=""></div>
            <div>
                <h1><b>{{acer.nombre}}</b><button class="btn btn-outline-dark" routerLink="acercade/editar/{{acer.id}}"
                        *ngIf="inicio"><i class="fa-solid fa-pencil" style="color: #ffffff;"></i></button></h1>
                <h2>{{acer.titulo}}</h2>
            </div>
            <p class="fw-bold">{{acer.descricion}} </p>
        </div>
    </section>
</section>