<table>
  <tbody>
    <tr>
      <td class="logo"><img src="https://i.ibb.co/gZdYs1z/logo-arg.png" alt=""></td>
      <td class="titulo">"Argentina Programa" #YoProgramo</td>
      <td class="face"><a href="https://www.facebook.com/dagjjj"><i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #fff;"></i></a></td>
      <td class="login">
        <button type="button" class="btn btn-primary" routerLink="login"*ngIf="!inicio"><i class="fa-solid fa-right-to-bracket" style="color: #fff;"></i>  Ingresar </button>
        <button type="button" class="btn btn-danger"  routerLink="logout" (click)="logout()"*ngIf="inicio"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i> Salir</button>

      </td>
    </tr>
  </tbody>
</table>